canvas {
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
}

.mapp > img {
  width: 631px;
  height: 631px;
  position: absolute;
  border: 10px;
  border-color: #AA3737;
  border-style: solid;
  top: 10vh;
  left: 5vw;
}

.bigmap {
  opacity: 0.7;
}

.marker {
  position: absolute;
  top: 50px;
  left: 50px;
  cursor: pointer;
}

.marker img {
  position: absolute;
  top: 30vh;
  left: 11vw;
}

/* gif animation */

.marker .gif {
  opacity: 0;
  pointer-events: none;
}

.marker:hover .static {
  opacity: 0;
}

.marker:hover .gif {
  opacity: 1;
}

.marker .static {
  opacity: 1;
}

/* gif animation */

.back {
  position: absolute;
  top: 90vh;
  right: 10vw;
  width: 50px;
  height: 50px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.infopanel img {
  width: 600px;
  height: 75vh;
  display: none;
  position: absolute;
  left: 10vw;
  top: 15vh;
}

/* slide in */

.slide-left {
          animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-right {
          animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-left {
  0% {
            transform: translateX(-100px);
  }
  100% {
            transform: translateX(50px);
  }
}

@keyframes slide-right {
  0% {
            transform: translateX(0px);
  }
  100% {
            transform: translateX(-200px);
  }
}
