canvas {
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
}

.mapp > img {
  width: 631px;
  height: 631px;
  position: absolute;
  border: 10px;
  border-color: #AA3737;
  border-style: solid;
}

.marker {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.marker img {
  width: 57px;
  height: 57px;
  position: absolute;
  top: 28vh;
  left: 11vw;
}

.back {
  position: absolute;
  top: 200spx;
  left: 10px;
  width: 50px;
  height: 50px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.infopanel img {
  width: 600px;
  height: 70vh;
  display: none;
  position: absolute;
  right: 100px;
  top: 0;
}

/* slide in */

.slide-left {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
